/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

footer {
  background-color: #191b34; 
  padding: 20px;
  text-align: center;
  position: relative;
  width: 100%;
}

.container {
  color: #fff;
}

/* Home Container - intro box and image included here */
.home-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh; 
  padding: 0;
  margin: 0;
  background-color: #F2F0EF;
  overflow: hidden;
}
/* Hello message box - left side of top section*/
.intro-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 20px;
  margin-top: -30px;
  animation: easeUpFromMiddle 1s ease-out forwards;
}

.intro-section h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #000;
  text-align: center; /* Center text within the h1 */
}

.intro-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center; /* Center text within the p */
}

.get-started-btn {
  padding: 15px 30px;
  background-color: #4b8df7;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  align-self: center; /* Center the button */
}

.get-started-btn:hover {
  background-color: #2574f4;
  transform: scale(1.1);
}

/* Animation code for Hello message */
@keyframes easeUpFromMiddle {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animation code for image */
@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Image of right side */
.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  animation: slideIn 1s ease-out forwards;
}

.image-section img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
/* Middle section - main container */
.why-we-care-container {
  text-align: center;
  margin-top: 50px;
}

.why-we-care-container h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

/* Three cards container */
.cards-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Card design */
.card {
  width: 27%;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0;
  transform: translateY(50px); 
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  margin-bottom: 130px;
  margin-right: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  background-color: #93bcfe;
}

.card.visible {
  opacity: 1;
  transform: translateY(0);
}

.card h3 {
  margin-top: 0;
}

.card p {
  padding: 20px;
  color: #333;
}

.card img {
  width: 70%;
  height: auto;
  margin-top: 10px;
}

/*Bottom Section - main container */
.how-we-help-container {
  position: relative;
  width: 100%;
  height: 90vh; 
  overflow: hidden;
  background-color: #71c775; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-we-help-container h2 {
  margin-top: 30px;
  font-size: 2.5rem;
  text-align: center;
  position: absolute;
  top: 10px;
}
/* Slideshow container */
.slideshow-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 100px 50px 50px 0px;
  box-sizing: border-box;
  position: relative;
}

/* Individual slides styles */
.slide {
  display: none;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.slide.visible {
  display: flex;
}

.slide .text {
  flex: 1;
  padding: 100px;
}

.slide .text h3 {
  font-size: 3rem;
  margin-top: -80px;
  margin-bottom: 50px;
}

.slide .text p {
  font-size: 1rem;
  margin-top: -20px;
  color: #333;
}

.slide img {
  flex: 1;
  max-width: 30%;
  height: auto;
  margin-right: 70px;
}

/* Right and left arrows alignment */
.navigation {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px;
}

/* Right/Left buttons */
.navigation button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #529355;
}

/* All three dots */
.dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

/* Single dot styles */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #529355;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Dot when you're on that slide */
.dot.active {
  background-color: #437a46;
}

/* Buttons on each slide */
.slideshow-container .get-started-btn {
  padding: 15px 30px;
  margin-top: 30px;
  background-color: #4b8df7;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  align-self: center; 
}

.slideshow-container .get-started-btn:hover {
  background-color: #2574f4;
  transform: scale(1.1);
}

/* Media Queries for Laptops */
@media (min-width: 1024px) {
  .home-container {
    height: 100vh;
  }

  .intro-section {
    margin-top: -30px;
  }

  .image-section img {
    height: 100vh;
  }

  .cards-container {
    flex-wrap: nowrap;
  }

  .card {
    width: 27%;
    margin-right: 30px;
  }

  .how-we-help-container {
    height: 90vh;
  }
}


/* Media Queries for Tablets (portrait)*/
@media (max-width: 1024px) and (orientation: portrait) {
  .cards-container {
    flex-direction: column;
    align-items: center; 
    overflow-y: auto; 
    overflow-x: hidden; 
    width: 100%; 
    padding: 0 10px; 
    margin-bottom: 5vh;
  }

  .card {
    width: 100%; 
    max-width: 600px; 
    margin: 10px 0; 
    box-sizing: border-box; 
    
  }
  
  .how-we-help-container {
    position: relative;
    width: 100%;
    height: 80vh;
  }
  
  .slide .text h3 {
    font-size: 2.5rem;
    margin-right: 140px;
  }

  .slide .text p {
    font-size: 1rem;
    margin-right: 180px;
  }
  
  .slide img {
    position: absolute;
    max-width: 40%; 
    height: auto; 
    top: 220px;
    margin-left: 430px;
  }
}

/* Media Queries for Mobile (landscape)*/
@media (max-width: 767px) and (orientation: landscape) {
.home-container {
    display: flex;
    flex-direction: row; 
    height: 100vh; 
    overflow: hidden; 
    margin: 0;
    padding: 0;
  }

  .intro-section {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F2F0EF;
    box-sizing: border-box;
  }

  .intro-section h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0; 
  }

  .intro-section p {
    font-size: 1rem;
    text-align: center;
    margin: 0; 
  }

  .get-started-btn {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .image-section {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F0EF;
    box-sizing: border-box;
  }

  .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block; 
  }

.cards-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 20px;
  gap: 20px; 
  box-sizing: border-box;
  }

  .card {
    width: 100%; 
    max-width: 350px; 
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #93bcfe;
    margin: 0 auto; 
    margin-bottom: 30px;
  }

  .card img {
    width: 100%; 
    height: auto; 
  }

  .card h3 {
    font-size: 1.2rem; 
    margin-top: 0;
  }

  .card p {
    font-size: 0.9rem; 
    margin-top: 10px; 
  }


  .slide .text {
    position: absolute;
    flex: 1; 
    padding-right: 20px; 
    top: 45px;
  }

  .slide .text h3 {
    font-size: 1.5rem; 
    margin: 0 0 10px 0; 
    text-align: left; 
    position: absolute;
    top: 60px;
  }

  .slide .text p {
    font-size: .8rem; 
    margin-right: 200px; 
    text-align: left; 
  }

  .slide img {
    max-width: 20%; 
    height: auto; 
    position: absolute;
    left: 510px;
    top: 105px;
  }
}

/* Media Queries for Mobile (portrait)*/
@media (max-width: 767px) and (orientation: portrait) {
  .home-container {
    flex-direction: column;
  }

  .intro-section {
    padding: 10px;
  }

  .intro-section h1 {
    font-size: 2rem;
  }

  .intro-section p {
    font-size: 1rem;
  }

  .get-started-btn {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .why-we-care-container h2 {
    font-size: 2rem;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    margin-bottom: 20px;
  }

  .how-we-help-container h2 {
    font-size: 2rem;
  }

  .slideshow-container {
    padding: 20px;
  }

  .slide {
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    text-align: left; 
  }

  .slide .text {
    flex: 1; 
    padding-right: 10px; 
    position: absolute;
    left: -50px;
    bottom: 0px;
  }

  .slide .text h3 {
    font-size: 1.5rem;
    margin: 0;
  }

  .slide .text p {
    font-size: 0.8rem;
    margin-top: 10px;
    margin-right: 10px;
  }

  .slide img {
    position: absolute;
    max-width: 40%; 
    height: auto; 
    top: 100px;
    right: 50px;
  }

  .navigation button {
    font-size: 1.2rem;
    margin-right: 10px;
    margin-left: -30px;
  }

  .dots {
    position: absolute;
    right: 0px;
    width: 100%;
    display: flex;
    justify-content: center; 
    box-sizing: border-box;
  }

  .dot {
    height: 8px;
    width: 8px;
  }

  .slideshow-container .get-started-btn {
    padding: 10px 20px;
    font-size: 0.8rem;
  }
}